In [157]:
import pandas as pd
import numpy as np

In [158]:
data_dir = '../datasets/'

In [159]:
df_directed = pd.read_csv(data_dir + 'directed_spearman_coefficients.csv')
df_undirected = pd.read_csv(data_dir + 'spearman_coefficients.csv')

In [160]:
df_directed['spearman']

0         1.000000
1         0.502431
2         0.532829
3        -0.353317
4        -0.021576
            ...
253004    0.439623
253005   -0.885281
253006    0.790854
253007    0.385218
253008    1.000000
Name: spearman, Length: 253009, dtype: float64

In [161]:
def ReLu(x):
    if x > 0:
        return x
    else:
        return 0

In [162]:
df_directed = df_directed[df_directed['spearman'] > 0.6]
df_undirected = df_undirected[df_undirected['spearman'] > 0.6]

In [166]:
df_undirected = df_undirected[df_undirected['stock1'] == 'MSFT']
df_undirected = df_undirected[df_undirected['stock2'] == 'MSFT']

       stock1 stock2  spearman           pval
159459   MSFT    ACN  0.779268   7.176607e-76
159460   MSFT   ADBE  0.752306   5.934308e-68
159461   MSFT    ADI  0.804343   2.612692e-84
159463   MSFT    ADP  0.841954   1.428393e-99
159473   MSFT    ALB  0.870074  7.116165e-114
...       ...    ...       ...            ...
159935   MSFT     WM  0.619094   4.205624e-40
159942   MSFT     WY  0.628525   1.243578e-41
159945   MSFT   XLNX  0.712559   5.577647e-58
159951   MSFT   ZBRA  0.881308  1.485228e-120
159953   MSFT    ZTS  0.765893   8.262588e-72

[125 rows x 4 columns]

In [130]:
df_directed['spearman'] = [ReLu(x) for x in df_directed['spearman']]
df_undirected['spearman'] = [ReLu(x) for x in df_undirected['spearman']]
print(df_directed['spearman'])
print(df_undirected['spearman'])

0         1.000000
1         0.502431
2         0.532829
3         0.000000
4         0.000000
            ...
253004    0.439623
253005    0.000000
253006    0.790854
253007    0.385218
253008    1.000000
Name: spearman, Length: 253009, dtype: float64
0         1.000000
1         0.477640
2         0.536912
3         0.000000
4         0.000000
            ...
253004    0.413676
253005    0.000000
253006    0.803894
253007    0.339901
253008    1.000000
Name: spearman, Length: 253009, dtype: float64

In [131]:
df_directed['exponent_spearman'] = [np.exp(x) for x in df_directed['spearman']]
df_undirected['exponent_spearman'] = [np.exp(x) for x in df_undirected['spearman']]

In [132]:
df_directed = df_directed.rename(columns={'stock1':'source', 'stock2':'target', 'exponent_spearman':'weight'})
df_undirected = df_undirected.rename(columns={'stock1':'source', 'stock2':'target', 'exponent_spearman':'weight'})

In [133]:
df_directed = df_directed[df_directed['weight'] > np.exp(0.6)]
df_undirected = df_undirected[df_undirected['weight'] > np.exp(0.6)]

In [134]:
df_directed.to_csv(data_dir + 'edgelist_directed.csv', index=False)
df_undirected.to_csv(data_dir + 'edgelist_undirected.csv', index=False)